blockquote,body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
button{margin:0}
button,input{outline:0}
::-webkit-input-placeholder{color:#b1afa8;font-size:16px;font-size:14px}
body{font-size:16px}
li{list-style:none}
a{text-decoration:none;color:#fff}
.icon{width:1.2em;height:1.2em;vertical-align:-.15em;fill:currentColor;overflow:hidden}
.fl{float:left}
.fr{float:right}
.clearfix:after{content:"";display:block;clear:both}
.container{width:1200px;margin-left:auto;margin-right:auto}
.top_nav{background-color:#efefef;font-size:12px;color:#848484}
.left_nav,.right_nav{height:20px;line-height:20px}
.left_nav>li,.right_nav>li{float:left;margin-right:15px}
.lc:hover .location{display:block}
.location{display:none;position:absolute;width:300px;padding:5px;background-color:#fff}
.pro{padding:10px;border-right:1px solid #bfbfbf}
.city{padding:10px}
.active{color:#8a2be2}
.content{display:none}
.home-nav>li,.person-nav>li{float:left;padding:0 10px}
.home-nav>li:hover{background-color:#4f586d}
.logo{display:block;padding:0 20px}
.logo>.lg{width:2em;height:2em;vertical-align:middle}
header{height:50px;line-height:50px;background-color:#2b3140;color:#d6d6d6}
header button[type=submit]{border-style:none;border-radius:5px;background:0 0;color:#fff;border:1px solid;outline:0;height:26px}
header input[type=text]{height:26px;border-radius:5px;outline:0;border-style:none;background:#4f586d}
fieldset{border:0}
legend{display:none}
.search-wrapper{width:625px;margin:0 auto}
.search{border:2px solid red;margin-top:20px}
.search-input input[type=text]{height:36px;width:493px;border:0}
.search button{width:130px;height:36px;border:0;background-color:red;color:#fff}
.search-input{display:inline-block}
.search-group{position:relative}
.search-group>button{position:absolute;right:0}
.fl-wrapper>li{float:left;padding:0 10px}
.buy-options>li{border-right:1px solid gray;color:gray;font-size:13px}
.buy-options>li:first-child{padding-left:0}
.buy-options>li:last-child{border:none}
.buy-options{margin-top:5px}
.buy-options>li:nth-child(odd){color:red}
.empty-warnning{background-color:#86705c}
#nav-banner{height:600px;position:relative;width:1200px;margin:0 auto}
.banner{width:100%}
.banner>li{text-align:center;position:absolute;top:0}
.banner>li>img{width:100%}
.banner-btn{position:absolute;z-index:20;bottom:20px;left:50%}
.banner-btn>li{height:5px;width:2px;margin:0 2px;background-color:red;left:50%}
.banner li>div{position:relative;width:1200px}
.banner li>div>a>img{position:absolute;left:-566px}
.test{position:relative}
.test>img{position:absolute}
.nav-logo{position:absolute}
.buy-nav{position:relative;height:75px}
.nav-item{padding-left:276px;position:relative;bottom:-40px}
.nav-item>li{color:red}
.nav-item>li:hover{background-color:red;color:#fff}
#wrapper{width:600px;overflow:hidden;position:relative;height:400px}
.list{width:4200px;height:400px;position:absolute;left:0}
.left-nav{position:absolute;z-index:20;width:223px;background:#fff;padding:5px 10px;left:20px}
.left-nav>li{padding:10px 5px}
.nav-menu{position:relative;left:255px;z-index:20;height:100%;width:600px}
.nav-menu>div{position:absolute;display:none;width:600px;height:600px;background-color:#fff;border-left:6px solid rgba(224,224,224,.425)}